@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Text&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
h1 {
	font-size: theme('fontSize.2xl');
}
h2 {
	font-size: theme('fontSize.xl');
}
h3 {
	font-size: theme('fontSize.lg');
}
h4 {
	font-size: theme('fontSize.base');
}
p {
	font-size: theme('fontSize.base');
}
h5 {
	font-size: theme('fontSize.sm');
}
h6 {
	font-size: theme('fontSize.xs');
}

body {
	background: #0d1926;
	font-family: 'Consolas', monospace;
}

#terminal {
	box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

#terminal-top {
	background: linear-gradient(90deg, theme('colors.blue.500') 0%, theme('colors.blue.700') 100%);
}
