@use "sass:color";

$bootstrap-icons-font-dir: "bootstrap-icons/font/fonts";
@import "bootstrap-icons/font/bootstrap-icons";

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
// https://fonts.google.com/?categoryFilters=Appearance:%2FTheme%2FTechno
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

$background-color: #0d001a;

$base-rounding: 0.5rem;
$base-padding: 0.25rem;

$window-highlight: #6ceded;
$window-base: #6cb9c9;

html,
body,
#root,
.content,
.content-section {
  height: 100%;
  width: 100%;
}

h1,
h2 {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

.content {
  overflow: hidden;

  &-section {
    display: flex;
    background: #16161d;
    color: #d0d0d2;

    &:nth-child(even) {
      background: #d0d0d2;
      color: #16161d;
    }
  }

}
